<nav>

  <a routerLink="/home" routerLinkActive="active-link">Home</a> |
  <a routerLink="/about"routerLinkActive="active-link">About</a> |
  <a routerLink="/template-driven" routerLinkActive="active-link">Template-driven-form</a> |
  <a routerLink="/reactive" routerLinkActive="active-link">Reactive-form</a> |
  <a routerLink="/lifecycle" routerLinkActive="active-link">LifeCycle</a> |
  <a routerLink="/routing" routerLinkActive="active-link">Routing</a>  |
  <a routerLink="/lazyloading" routerLinkActive="active-link">lazyloading</a> 
</nav>

<router-outlet></router-outlet>