input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

small {
  color: red;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
